@model IEnumerable<u21600393_HW06.Models.order>

@{
    ViewBag.Title = "Report";
}

@{
    int january = 0, february = 0, march = 0, april = 0, may = 0, june = 0, july = 0, august = 0, september = 0, october = 0, november = 0, december = 0;

}
@foreach (var item in Model)
{
    switch (item.order_date.Month)
    {
        case 1:
            january++;
            break;
        case 2:
            february++;
            break;
        case 3:
            march++;
            break;
        case 4:
            april++;
            break;
        case 5:
            may++;
            break;
        case 6:
            june++;
            break;
        case 7:
            july++;
            break;
        case 8:
            august++;
            break;
        case 9:
            september++;
            break;
        case 10:
            october++;
            break;
        case 11:
            november++;
            break;
        case 12:
            december++;
            break;
    }

}

<h2>Mountain Bike Order Report</h2>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<canvas id="myChart" width="400" height="225"></canvas>
<script>
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
    labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
            datasets: [{
                label: 'Number of Mountain Bikes Sold',
                data: [@january, @february, @march, @april, @may, @june, @july, @august, @september, @october, @november, @december],
                backgroundColor: [
                    'rgba(230, 81, 81, 0.6)',
                    'rgba(20, 158, 206, 0.6)',
                    'rgba(167, 198, 54, 0.6)',
                    'rgba(158, 85, 156, 0.6)',
                    'rgba(252, 146, 31, 0.6)',
                    'rgba(255, 222, 62, 0.6)',
                    'rgba(247, 137, 216, 0.6)',
                    'rgba(183, 129, 74, 0.6)',
                    'rgba(60, 175, 153, 0.6)',
                    'rgba(107, 107, 214, 0.6)',
                    'rgba(181, 71, 121, 0.6)',
                    'rgba(127, 127, 127, 0.6)'

                ],
                borderColor: [
                    'rgba(237, 81, 81, 1)',
                    'rgba(20, 158, 206, 1)',
                    'rgba(167, 198, 54, 1)',
                    'rgba(158, 85, 156, 1)',
                    'rgba(252, 146, 31, 1)',
                    'rgba(255, 222, 62, 1)',
                    'rgba(247, 137, 216, 1)',
                    'rgba(183, 129, 74, 1)',
                    'rgba(60, 175, 153, 1)',
                    'rgba(107, 107, 214, 1)',
                    'rgba(181, 71, 121, 1)',
                    'rgba(127, 127, 127, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
    scales: {
        y: {
            beginAtZero: true
           }
        }
    }
});
</script>
